<template>
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   aria-label="Username"
                   aria-describedby="basic-addon1"
                   v-model="username">
        </div>
        <button class="btn btn-success" @click="sendPush">Send</button>
        <hr>
        <p>Pusher message: {{ data.username }}</p>
    </div>
</template>

<script>
    export default {
        name: "pusher-component",
        props: {
            appKey: ''
        },
        data() {
            return {
                username: '',
                data: {}
            }
        },
        created() {
            Pusher.logToConsole = true;

            let pusher = new Pusher('a4013f0b489b5ffde364', {
                cluster: 'eu',
                encrypted: true
            });

            let channel = pusher.subscribe('channel');
            channel.bind('username', (data) => {
                this.data = {...data};
            });
        },
        methods: {
            sendPush() {
                axios.post('/pusher/send', {
                    username: this.username
                })
                    .then(response => {
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error.data);
                    });
            }
        }
    }
</script>

<style scoped>

</style>